html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 0 2rem;
  font-family: Raleway, sans-serif;
  color: #272727;
  background: url(http://i.imgur.com/9Sle8G6.png);
}

.top-nav {
  width: 100%;
  background: rgba(120,120,120, 0.2);
  border: solid 1px #f1f1f1;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list-item {
  margin: 1rem 0.5rem;
  text-transform: uppercase;

}

.nav-list-item-brand {
  flex: 1;

  font-weight: bold;
}

.hero {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  background: url('http://i.imgur.com/OEb2Kxw.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: none;

  color: white;
  text-shadow: 1px 1px 2px #2a2a2a;
}

.hero-container {
  max-width: 60rem;
}

.hero-title {
  font-size: 5rem;
  margin: 2rem 0;

  text-transform: uppercase;
}

.section-container {
  max-width: 60rem;
  margin: auto;
  overflow: hidden;

}

.hero-divider {
  border-bottom-color: #403d3d;
  border-bottom-width: 7px;
  width: 10em;
  margin-bottom: 10px;
}

.hero-text {
  margin: 2rem 0;
  font-size: 1.2rem;
}

.bg-pop {
  padding: 1rem 2rem;
  background: #00525d;
  color: #f1f1f1;

}

.divider {
  border-width: 0;
  border-bottom-width: 0.5rem;
  border-bottom-style: solid;
  border-bottom-color: #00a5bb;
  width: 10rem;
  margin: auto;
}

#bg-photo {
  background: url('http://i.imgur.com/P0xKA5t.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .5;p
}

.bg-pop .divider {
  border-bottom-color: #f1f1f1;
}

.section-header {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

.row {
  margin: 0 -1rem;
  display: flex;
}

.bg-standard {
  padding: 1rem 2rem;
  color: #3a8ef1;
    text-shadow: 1px 1px 2px #2a2a2a;
}

.row-column {
  width: calc(100% / 3 - 1rem);
  margin: 0 1rem;
}

figure {
  text-align: center;
  background: rgba(120,120,120, 0.9);
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
}

figure span {
  color: black;
}

.photo-title {
  margin: 8rem 0;
  text-align: center;
  font-size: 3rem;
  color: #f1f1f1;
  text-shadow: 1px 1px 2px #2a2a2a;
}

figcaption {
  margin-top: 2rem;
}
